@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
    body {
      background: linear-gradient(to top,#222831,#393E46);
      color:rgb(0, 173, 181) ;
      font-family: 'Space Mono', monospace;
      overflow:scroll;
    }




@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}
    footer{
      text-align: center;
    }
    .container {
      max-width: 800px;
      margin: 0 auto;
    }
    .card {
      background-color: #222831;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 10px;      
      animation: slide-in 0.5s forwards;
      transform: translateX(-150%);
      }
      .card-1 {
        animation-delay: 0.5s;
      }
      .card-2 {
        animation-delay: 1s;
      }
      .card-3 {
        animation-delay: 1.5s;
      }
      .card-4{
        animation-delay:2s ;
      }
      .card-0{
        text-align: center;
      } 
      .card,.menu a,.pill {
        transition: box-shadow 0.3s ease, transform 0.3s ease;
    }
    
    .card:hover,.menu a:hover,.pill:hover {
        box-shadow: rgba(0, 173, 181, 0.4) -5px 5px, rgba(0, 173, 181, 0.3) -10px 10px, rgba(0, 173, 181, 0.2) -15px 15px, rgba(0, 173, 181, 0.1) -20px 20px, rgba(0, 173, 181, 0.05) -25px 25px;
        transform: translate(5px, -5px);
    }
    
      .menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
      }

        .menu li {
        padding: 10px;
        margin: 10px;
	
        
        }

        .menu a {
        text-decoration: none;
        color: #00ADB5;
        background-color: #222831;
        padding: 10px;
        border-radius: 5px;
        display: block;
        text-align: center;
        }       
    hr{
        background-color: #666;
        height:auto;
        width: 100%;
      }
      #audio-player {
        display: none;
      }
      
    /*from styles.blog.css*/     
     .pill {
        font-size: 1em;
        font-family: "Readex Pro", sans-serif;
        padding: 1em;
        margin: 1em;
        border-radius: 1em;
        border: none;
        outline: none;
        background: #222831;
        cursor: pointer;
        color: #00ADB5;
      }
      
	audio{
		margin-top:15px;
	}
      

      @keyframes slide-in {
        0% {
          transform: translateY(-100%) scale(1);
        }
        60% {
          transform: translateY(0) scale(1.05);
        }
        80% {
          transform: translateY(0) scale(1);
        }
        100% {
          transform: translateY(0) scale(1);
        }
      }     
