body {
    font-family: 'Space Mono', monospace;;
    background:linear-gradient(to bottom right,rgb(16, 0, 43) 10%,rgb(60, 9, 108),rgb(157, 78, 221));
    color: #ecf0f1 ;
    margin: 0;
    padding: 0;
    overflow: scroll;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
  }
  
  header h1 {
    margin: 10px;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .pill {
    font-size: 1em;
    font-family: "Readex Pro", sans-serif;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    border: none;
    outline: 1px solid #9D4EDD;
    background: #9d4edd00;
    color: #ecf0f1;
    cursor: pointer;
  }
  
  .pill:not(.pill--selected):hover {
    background: rgb(16, 0, 43);
    outline: 1px solid #9D4EDD;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
  }

  article{
    background-color: #9d4edd00;
    border: 1px solid #10002B;
    padding: 10px;
    width: calc(50% - 50px);
    border-radius: 10px;
    margin: 10px;

  }
  
  .right{
    animation: slide-in-left 1.25s ease-out;
  }
  
  .left {
    animation: slide-in-right 1.25s ease-out;
  }
  
  @keyframes slide-in-left {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slide-in-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  footer {
    color: #C77DFF;
    display: flex;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    border-radius: 0 0 10px 10px;
  }


  #blob{
    background-color: white;
    height: 500px;
    aspect-ratio: 1;
    position: absolute;
  }