body {
    font-family: 'Space Mono', monospace;;
    background:linear-gradient(to bottom right,rgb(16, 0, 43),rgb(60, 9, 108),rgb(157, 78, 221));
    color: #ecf0f1 ;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    height: 100%;
  
  }
  
  header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
  }
  
  header h1 {
    margin: 10px;
    z-index: 3;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 3;
  }
  .pill {
    font-size: 1em;
    font-family: "Readex Pro", sans-serif;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    border: none;
    outline: 1px solid #9D4EDD;
    background: #9d4edd00;
    color: #ecf0f1;
    cursor: pointer;
    z-index: 3;
  }
  
  .pill:not(.pill--selected):hover {
    background: rgb(16, 0, 43);
    outline: 1px solid #9D4EDD;
    z-index: 3;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    z-index: 3;
  }

  article{
    background-color: #9d4edd00;
    border: 1px solid #10002B;
    padding: 10px;
    width: calc(50% - 50px);
    border-radius: 10px;
    margin: 10px;
    z-index: 3;

  }
  
  .right{
    animation: slide-in-left 1.25s ease-out;
  }
  
  .left {
    animation: slide-in-right 1.25s ease-out;
  }

  img {
    display: block;
    margin: auto;
  }
  
  
  @keyframes slide-in-left {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slide-in-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  


  @keyframes rotate {
    from {
      rotate: 0deg;
    }
    
    50% {
      scale: 1 1.5;
    }
    
    to {
      rotate: 360deg;
    }
  }

  #blob {
    background-color: white;
    height: 20vmax;
    aspect-ratio: 1;
    position: fixed;
    bottom: 0;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to bottom right,#7B2CBF,#E0AAFF);
    animation: rotate 20s infinite;
    opacity: 0.8;
    z-index: 1;
    overflow: hidden;
  }

  #blur{
    height: 150%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(12vmax);
  }


